<div class="container">
  <div class="row mt-5">
    <div class="col-8 mx-auto">
      <h2>木型一覧</h2>
        <div class="text-right mb-3">
        <%= link_to new_admin_last_path, class: "btn btn-light shadow-sm rounded-circle p-0 text-center", style: "width:2rem;height:2rem;" do %>
        <p>+</p>
        <% end %>
      <table class="table">
        <thead>
          <tr>
            <th>木型ID</th>
            <th>木型名</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <% @lasts.each do |last| %>
        <tr>
          <td><%= last.id %></td>
          <td><%= last.name %></td>
          <td><%= link_to "編集する", edit_admin_last_path(last), class: "btn btn-success" %></td>
          <td><%= link_to "削除する", admin_last_path(last), method: :delete, class: "btn btn-danger" %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>