<div class="container">
  <div class="row mt-5">
    <div class="col-8 mx-auto">
      <h4>デザイン一覧</h4>
      <div class="text-right mb-3">
        <%= link_to new_admin_design_path, class: "btn btn-light shadow-sm rounded-circle p-0 text-center", style: "width:2rem;height:2rem;" do %>
        <p>+</p>
        <% end %>
      </div>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>デザインID</th>
            <th>デザイン名</th>
            <th>ベース価格</th>
            <th>注文受付</th>
          </tr>
        </thead>
        <tbody>
          <% @designs.each do |design| %>
          <tr>
            <td><%= design.id %></td>
            <td><%= link_to design.name, admin_design_path(design) %></td>
            <td><%= design.price %>円</td>
            <div>
              <% if design.is_ordered_before_type_cast == 0 %>
                <td class="text-success"><%= design.is_ordered_i18n %></td>
              <% else %>
                <td class="text-secondary"><%= design.is_ordered_i18n %></td>
              <% end %>
            </div>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>