<div class="container">
  <div class="row mt-5">
    <% @blogs.each do |blog| %>
      <div class="col-4">
      <div class="card mx-auto mt-4 shadow-lg">
        <%= link_to blog_path(blog) do %>
          <%= attachment_image_tag blog, :image, class: "card-img-top"; %>
        <% end %>
          <div class="card-body">
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title"><%= blog.title %></h5>
                <p class="card-text">
                  <small class="text-muted">
                    <%= blog.created_at.strftime('%Y/%m/%d') %> 
                    <i class="far fa-comment">:<%= blog.blog_comments.count %></i>
                    <i class="far fa-heart">:<%= blog.likes.count %></i>
                    </small>
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= paginate @blogs %>