<table class="table table-hover table-inverse">
  <tr>
    <th>購入者</th>
    <td><%= @order.user.name %></td>
    <td></td>
  </tr>
  <tr>
    <th>注文日</th>
    <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
    <td></td>
  </tr>
  <tr>
    <th>配送先</th>
    <td>
        <%= @order.name %><br>
        <%= @order.postal_code %> <br>
        <%= @order.address %></br>
        <%= @order.phone_number %></br>
    </td>
    <td></td>
  </tr>
  <tr>
    <th>支払い方法</th>
    <td><%= @order.payment_method_i18n %></td>
    <td></td>
  </tr>
    <tr>
    <th>注文ステータス</th>
    <td>
    <%= form_with model: [:admin, @order], local: true do |f| %>
      <%= f.select :order_status, Order.order_statuses.keys.map {|k| [I18n.t("enums.order.order_status.#{k}"), k]}, {}, { class: "form-control" } %>
      <%= f.submit "変更", class: "btn btn-success" %>
    <% end %>
    </td>
  </tr>
</table>