
  <h2><%= @user.name %> 様</h2>
　<p>この度は、この度はご購入ありがとうございました。<br>
　   chocolate_factoryの樋口です。<br>
　   以下の内容で、ご注文を承りました。<br>
　   ご注文にお間違えがないかご確認くださいませ。<br>
　 </p>

　 <p>【商品について】<br>
　     本工房では一点一点手作業での受注生産になっています。<br>
　     商品を製作していますのでしばらくお待ちください。<br>
　 </p>

  <p>■配送先情報<br>
    ──────────────<br>
    お名前：<%= @order.name %><br>
    ご住所：<%= @order.address %><br>
    電話番号：<%= @order.phone_number %><br>
    お支払い方法：<%= @order.payment_method_i18n %><br>
    ──────────────<br></p>

  <p>■商品情報<br>
    ──────────────<br>
    デザイン：<%= @item.design.name %><br>
    メニュー：<%= @item.buy_name %><br>
    教材：<%= @item.material_i18n %><br>
    ──────────────<br></p>

  <p>請求額：<%= @order.price %>円</p>
  
  <p>本ページの注文詳細に詳しく書いてありますのでそちらもご確認ください。</p>

  <p>この度はご注文いただき誠にありがとうございました。</p>

  <p>今後ともChocolate_Factoryをよろしくお願いします。</p>

