<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 offset-md-1">
      <h2>注文情報確認</h2>
      <table class="table">
        <therd>
          <tr>
            <th>デザイン名</th>
            <th>メニュー</th>
            <th>靴のサイズ</th>
            <th>教材</th>
            <th>請求額</th>
          </tr>
        </therd>
        <tbody>
          <tr>
            <th><%#= @design.name %></th>
            <th><%#= @item.buy_name %></th>
            <th><%#= @item.size %></th>
            <th><%#= @item.material %></th>
            <th><%#= @order.price %></th>
          </tr>
        </tbody>
      </table>
      <table>
        <div>
          <p>支払い方法</p>
          <%= @order.payment_method_i18n %>
        </div>
        <div>
          <p>お届け先</p>
          <%= @order.name %>
          <%= @order.postal_code %>
          <%= @order.address %>
          <%= @order.phone_number %>
        </div>
        <div class="col text-center">
          <%= form_with model: @order, do |f| %>
            <%= f.submit "注文を確定する", class: "btn btn-success" %>
          <% end %>
        </div>
      </table>
    </div>
  </div>
</div>