<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 offset-md-1">
      <h4>注文情報入力</h4>
      <%= form_with model: @order, url: orders_confirm_path(@order), local: true do |f| %>
        <div class="form-group">
          <h4>支払い方法</h4>
          <div>
            <%= f.radio_button :payment_method, :credit_card %>
            <%= f.label "クレジットカード" %>
          </div>
          <div>
            <%= f.radio_button :payment_method, :bank_transfer %>
            <%= f.label "銀行振り込み" %>
          </div>
        </div>
          <%= render "public/orders/form", f: f %>
        <div class="col text-center">
          <%= f.submit "確認画面へ進む", class: "btn btn-info" %>
        </div>
      <% end %>
    </div>
  </div>
</div>