<div class="container">
  <div class="row mt-5">
    <div class="col mx-auto">
      <h4>ブログ詳細</h4>
      <table class="table table-borderless">
        <tr>
          <th>画像</th>
          <td><%= attachment_image_tag @blog, :image, format: 'jpeg', size: "300x300" %></td>
        </tr>
        <tr>
          <th>タイトル</th>
          <td><%= @blog.title %></td>
        </tr>
        <tr>
          <th>内容</th>
          <td><%= @blog.body %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= link_to "編集", edit_admin_blog_path(@blog), class: "btn btn-success" %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= link_to "削除", admin_blog_path(@blog), method: :delete, class: "btn btn-danger" %></td>
        </tr>
      </table>
    </div>
  </div>
</div>