<div class=container>
  <div class="row mt-5">
    <div class="col-8 mx-auto">
      <h4>お問い合わせ入力</h4>
      <%= form_with model: @inquiry, url: inquiry_confirm_path, local: true do |f| %>
      <table class="table table-borderless">
        <tr>
          <th>名前 <small class="text-danger">必須</small></th>
          <td><%= f.text_field :name, class: "form-control" %></td>
        </tr>
        <tr>
          <th>メールアドレス <small class="text-danger">必須</small></th>
          <td><%= f.text_field :email, class: "form-control" %></td>
        </tr>
        <tr>
          <th>お問い合わせ内容 <small class="text-danger">必須</small></th>
          <td><%= f.text_area :message, class: "form-control", rows: "5" %></td>
        </tr>
        <tr>
          <th> </th>
          <td><%= f.submit "確認", class: "btn btn-success" %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>