<div class="container">
  <div class="row mt-5">
    <div class="col-8 mx-auto">
      <h2>マイページ編集</h2>
      <%= form_with model: @user, local:true do |f| %>
        <table class="table table-borderless">
          <tr>
            <th>ユーザー名</th>
            <th><%= f.text_field :name, class: "form-control" %></th>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <th><%= f.text_field :email, class: "form-control" %></th>
          </tr>
          <tr>
            <th> </th>
            <th><%= f.submit "編集する", class: "btn btn-success" %></th>
            <th><%= link_to "退会する", user_unsubscribe_path, class: "btn btn-danger" %></th>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>