<div class="container">
  <div class="row mt-5">
    <div class="col-8 mx-auto">
        <%= form_with model: @item, local:true do |f| %>
      <table class="table table-bordered">
          <tbody>
            <tr>
              <th colspan="2">
              <%= attachment_image_tag @design, :image, :fill, 785, 600, format: "jpeg" %></br>参考画像
              </th>
            </tr>
            <tr>
              <th style="width: 20%">デザイン名</th>
              <td>
                <%= @design.name %>
                <%= f.hidden_field :design_id, :value => @design.id %>
              </td>
            </tr>
            <tr>
              <th style="width: 20%">金額</th>
              <td><%= @design.price %>円〜</td>
            </tr>
            <tr>
              <th style="width: 20%">革のランク</th>
              <td><%= select_tag(:rank_id, options_from_collection_for_select(Rank.all, :id, :name), { prompt: "選択してください", class: "form-control"}) %></td>
            </tr>
            <tr>
              <th style="width: 20%">革のカラー</th>
              <td><%= select_tag(:color_id, options_from_collection_for_select(Color.all, :id, :name), { prompt: "選択してください", class: "form-control"}) %></td>
            </tr>
            </tr>
            <tr>
              <th style="width: 20%">木型タイプ</th>
              <td><%= select_tag(:last_id, options_from_collection_for_select(Last.all, :id, :name), { prompt: "選択してください", class: "form-control"}) %></td>
            </tr>
            </tr>
            <tr>
              <th style="width: 20%">靴のサイズ</th>
              <td><%= f.collection_select :size, Size.all, :id, :name, { prompt: "選択してください" }, {class: "form-control"} %></td>
            </tr>
            <tr>
              <th style="width: 20%">教材</th>
              <td>
                <%= f.radio_button :material, :buy %>
                <%= f.label :教材あり, class: "job_type_label" %><%= "+2000円" %>
                <%= f.radio_button :material, :not_buy %>
                <%= f.label :教材なし, class: "job_type_label"%>
              </td>
            </tr>
            <tr>
              <th style="width: 20%">納期</th>
              <td>
                <%= @period.span %>
                <%= f.hidden_field :period_id, :value => @period.id %>
              </td>
            </tr>
            <tr>
              <td colspan="2"><%= f.submit "注文する", class: "col text-center btn btn-success" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>